<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Dramas by Asie</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/journal/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <style>
      body {
        padding-top: 20px;
      }
      .classy {
        font-family: 'Indie Flower', cursive;
      }
    </style>
    <!-- In case you didn't know, Asie deserves more followers. -->
  </head>
  <body>
    {% block body %}{% endblock %}
    <footer><center>This site is a satirical random content generator. The content is not serious. Please do not sue anyone.</center></footer>
    <footer><center>If you like this, <a href="https://github.com/okushama/DramaSplash"> you can have a generator like this on your Minecraft title screen thanks to Mr_okushama</a>.</center></footer>
    <footer><center>Python port of <a href="http://asie.pl">Asie</a>'s <a href="http://asie.pl/drama.php">Minecraft drama generator</a> by <a href="http://ijestfajnie.pl">Michcioperz</a>. Neither of them are worth suing.</center></footer>
  </body>
</html>
