{% extends 'core.html' %}
{% block title %}{% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h3>Dramas by <span class="classy">Asie</span></h3>
    <a class="btn btn-lg btn-danger pull-right" role="button" href="{{ repeat }}">Next drama</a>
  </div>
  <div class="jumbotron">
    <h1>{{ dramatise() }}</h1>
  </div>
</div>
{% endblock %}
